 /*#F1F2F4; #E0E0E0 */

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #092955;
    box-shadow: 4px 4px 16px -8px rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    width: 40vh;
    height: 100vh;
    color: #E0E0E0;
    position: fixed; /* Mantém o menu fixo */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    overflow-y: auto; /* Adiciona barra de rolagem interna se o conteúdo do menu for maior que a tela */
}

.header {
    padding: 1rem;
    margin: 1rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E0E0E0;
}  

.header>h3 {
    font-size: 2.5rem;
    margin-left: 1.5rem;
}

.img {
    width: 4rem;
    margin-left: 2rem;
}

.optionsContent {
    font-size: 1.1rem;
    margin-left: 3rem;
}

.list {
    list-style-type: none;
}

.listItems {
    padding: .5rem;
}

.listItems:hover {
    cursor: pointer;
    transition: .2s;
    margin-left: .5rem;
}

.icon {
    margin-right: 1rem;
}

.subList {
    list-style-type: none; 
    padding-left: 20px; 
    width: 14rem;
    border-top: 1px solid #E0E0E0;
}

.subListItems {
    padding-bottom: .5rem;
    margin: 0.5rem 0;
}

.subListItems:hover {
    cursor: pointer;
    transition: .2s;
    margin-left: .5rem;
}

.link {
    text-decoration: none;
    color: #E0E0E0;
}